.page-wrapper {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: rgb(222, 201, 240);
  padding: 20px;
}

h1 {
  text-align: center;
  font-style: italic;
}

h2 {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(147, 79, 150);
  padding: 5px;
  gap: 5px;
}

.container div {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(147, 79, 150);
  padding: 5px;
  gap: 5px;
}

.profile div {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  font-style: italic;
}
